
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root{
  background-color: rgba(230, 238, 238, 0.985);
  height: 130vh;
}
.divider{
  display: grid;
  grid-template-columns: .5fr 1fr;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0% 5%;
  
}
.contacts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  text-align: center;
  width: 60%;
  transform: translateX(33%);
}
.resume{
  transform: translateY(15%);
  padding: 7px;
  color: white;
  display: block;
  text-align:  center;
  justify-content: center;
  background-color: rgb(9, 60, 60);
  
}
.dates{
  width: 18%;
  font-size: 11px;

}
#loc{
  font-size: 13px;
  text-align: center;
  margin: 0px;
}
p{
  margin: 5px;
  
}
.exp{
  display: flex;
}
#company{
  width: 70%;
}
.editBtn{
  height: 70%;
}
.fullResume h1{
  text-align: center;
}
.inputs{
  
  display: grid;
  grid-template-columns: 1.25fr 1.25fr .2fr;
  margin: 1%;
}
.inputBox{
  display: block;
}
.details h1, button{
  margin-left: 4%;
}
button{
  background-color: rgb(9, 60, 60);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
#getVal{
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.622);
  height: 20px;
  width: 100%;
  background-color: rgba(230, 238, 238, 0.364);
}
form{
  background-color: white;
  width: 90%;
  padding: 20px 10px;
  box-shadow: 2px 1px 10px 1px rgb(189, 188, 188);
  border-radius: 15px;
  
}
.resumePage{
  padding-top: 10px;
  background-color: white;
  min-height: 100vh;
  padding-top: 25px;
}
.resumeMaker{
  box-shadow: 2px 30px 20px 2px rgb(189, 188, 188);
}
#label{
  margin-left: 10%;
}
.details{
  transform: translateY(2.5%);
  display: flex;flex-direction: column;
  gap: 25px;
}
.details h1{
  margin-top: 0;
  font-size: 25px;
  color: rgb(9, 60, 60);
}
#head{
  margin-left: 7%;
  margin-right: 7%;
  font-size: 20px;
  color: rgb(9, 60, 60);
  background-color: rgba(230, 238, 238, 0.364);
}
.exp{
  margin-left: 7%;
  margin-right: 7%;
}
#cmpnyName{
  font-weight: bold;
}